Options +ExecCGI
AddHandler cgi-script .cgi .py
DirectoryIndex index.html app.cgi
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ app.cgi/$1 [QSA,PT,L]
